@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}
 body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.container {
    margin-top: 200px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #00000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #006eff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #218838;
}
p {
    text-align: center;
    margin-top: 20px;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}