@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}
.jumbotron {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 100px 0; 
    max-height: max-content;
}

/* Styles for the heading and text */
.jumbotron h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.jumbotron p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Style for the lead paragraph */
.jumbotron .lead {
    font-size: 1.2rem;
    font-style: italic;
}

/* Optional: Style for the button */
.jumbotron .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.jumbotron .btn:hover {
    background-color: #0056b3;
}

.get-started-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.get-started-btn:hover {
    background-color: #0056b3;
}

.section2{
    min-height: 30rem;
    background-color: #ececec;
    color: rgb(0, 0, 0);
}
.section2 .card{
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
}